// Generic html styles used accross the App
// component specific styling should go in the component scss file

html {
  @include font-sans;
  background-color: $lbry-white;
  font-size: 12px;
  height: 100%;
  overflow-x: hidden;
}

body {
  color: $lbry-black;
  font-size: 1rem;
  font-weight: 400;
  height: 100%;
  line-height: 1.5;
  overflow: hidden;
}

code {
  @include font-mono;
  background-color: $lbry-gray-1;
  font-size: 1.5rem;
}

input {
  &.input-copyable {
    background-color: rgba($lbry-gray-1, 0.3);
    border: 1px dashed $lbry-gray-1;
    color: $lbry-gray-5;
    flex: 1;
    padding: 10px 16px;
    text-overflow: ellipsis;
  }

  &:not(.input-copyable):not(.wunderbar__input):not(:placeholder-shown):not(:disabled) {
    &:hover {
      border-color: rgba($lbry-black, 0.8);
    }

    border-bottom: var(--input-border-size) solid $lbry-gray-5;
  }
}

textarea {
  font-size: 0.8rem;
}

button + input {
  margin-left: $spacing-vertical * 2/3;
}

p:not(:first-of-type) {
  margin-top: $spacing-vertical * 1/3;
}



// Page content

.page {
  top: var(--header-height);
  left: 0;
  bottom: 0;
  right: 0;

  background-color: rgba($lbry-gray-1, 0.3);
  display: flex;
  position: absolute;
  z-index: 0;

  @media only screen and (min-width: $medium-breakpoint) {
    grid-template-columns: var(--side-nav-width-m) auto;
  }

  @media only screen and (min-width: $large-breakpoint) {
    grid-template-columns: var(--side-nav-width-l) auto;
  }
}

.content {
  flex: 1;
  overflow: auto;
}

.main {
  margin: auto;
  overflow: hidden;

  &:not(.extra-padding):not(.for-content):not(.no-padding) {
    padding: $spacing-width;
  }

  &.contained {
    max-width: 1000px;
  }

  &.extra-padding {
    padding-right: 100px;
    padding-left: 100px;
  }

  &.for-content {
    display: flex;
    justify-content: center;
    padding: $spacing-width * 2/3;
  }

  &.no-padding {
    // padding-bottom: $spacing-width;
  }
}

.page__header {
  padding: $spacing-vertical * 2/3 $spacing-vertical * 2/3 0 $spacing-vertical * 2/3;
}

.page__empty {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 200px;
  text-align: center;
}

.columns {
  display: flex;
  justify-content: space-between;

  > * {
    flex-basis: 0;
    flex-grow: 1;

    &:not(:first-of-type):not(:last-of-type) {
      margin: 0 $spacing-vertical / 3;
    }

    &:first-of-type {
      margin-right: $spacing-vertical / 3;
    }

    &:last-of-type {
      margin-left: $spacing-vertical / 3;
    }
  }
}

// Custom text selection
*::selection {
  background-color: $lbry-teal-3;
  color: $lbry-white;
}

.credit-amount {
  font-size: 0.9rem;
  white-space: nowrap;
}

.credit-amount--large {
  font-size: 36px;
  font-weight: 600;
}

.credit-amount--file-page {
  border-radius: 5px;
  font-weight: 700;
  padding: 5px;
}

.credit-amount--free {
  &:not(.credit-amount--file-page) {
    color: $lbry-blue-5;
  }

  &.credit-amount--file-page {
    background-color: $lbry-blue-2;
    color: $lbry-blue-5;
  }
}

.credit-amount--cost {
  &:not(.credit-amount--file-page) {
    color: $lbry-gray-5;
  }

  &.credit-amount--file-page {
    background-color: $lbry-yellow-3;
    color: $lbry-black;
  }
}

.credit-amount--inherit {
  background-color: inherit;
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  padding: 0;
}

.divider__horizontal {
  border-top: $lbry-gray-2;
  margin: 16px 0;
}

.hidden {
  display: none;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.column {
  display: flex;

  .column__item:not(:first-child) {
    padding-left: $spacing-width * 2/3;
  }
}

.truncated-text {
  @include truncate;
}

.busy-indicator__loader {
  min-width: 16px;
  min-height: 8px;
  margin: -1rem 0;
  padding: 0 30px;

  background: url('../../../static/img/busy.gif') no-repeat center center;
  display: inline-block;
  vertical-align: middle;

  &:first-child {
    padding-left: 2px;
  }

  &:last-child {
    padding-right: 2px;
  }
}

.help {
  color: $lbry-gray-5;
  font-size: 1rem;
}

.help--padded {
  padding-top: $spacing-vertical * 2/3;
}

.meta {
  color: $lbry-gray-1;
  font-size: 0.8rem;
}

.empty {
  color: $lbry-gray-5;
  font-style: italic;
}

.qr-code {
  width: 134px;
  height: 134px;
  border: 3px solid $lbry-white;

  &.qr-code--right-padding {
    margin-right: $spacing-vertical * 2/3;
  }

  &.qr-code--top-padding {
    margin-top: $spacing-vertical * 2/3;
  }
}

.error-text {
  color: $lbry-red-5;
}

.thumbnail-preview {
  width: var(--thumbnail-preview-width);
  height: var(--thumbnail-preview-height);

  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
