.btn {
  min-width: var(--btn-height);
  height: var(--btn-height);

  align-items: center;
  border: none;
  border-radius: var(--btn-radius);
  display: flex;
  fill: currentColor; // for proper icon color
  justify-content: center;
  padding: 10px;
  position: relative;
  text-decoration: none;
  transition: all var(--animation-duration) var(--animation-style);

  &:not(:disabled) {
  }

  &:hover {
    background-color: $lbry-teal-4;
  }

  &:not(.no-padding):not(.link):not(.no-style) {
    .btn__content {
      align-items: center;
      display: flex;
      padding: 0 8px;
    }
  }

  &:not(.header-balance):not(.header-publish) {
    // font-size: 1rem;
  }

  &:not(.inverse) {
    background-color: $lbry-teal-5;
    color: $lbry-white;
  }

  &.alt {
    &:not(:disabled) {
      background-color: $lbry-white;
      color: $lbry-black;
    }

    &:disabled {
      background-color: transparent;
      color: $lbry-gray-5;
    }
  }

  &.arrow {
    color: $lbry-black;
    width: var(--btn-arrow-width);

    &:disabled {
      opacity: 0.3;
    }
  }

  &.danger {
    background-color: $lbry-red-3;
  }

  &.disabled:disabled {
    // wtf?
    cursor: default;

    &.primary {
      background-color: rgba($lbry-black, 0.5);
    }

    &:hover {
      box-shadow: none;
    }
  }

  &.external-link {
    color: $lbry-blue-1;
  }

  &.file-actions {
    width: var(--btn-height);
    height: var(--btn-height);

    background-color: $lbry-black;
    border-radius: var(--btn-radius);
    color: $lbry-white;
    opacity: 0.8;
    padding: 10px;
  }

  &.header-balance,
  &.header-publish {
    // font-size: 0.8rem;
  }

  &.header-balance {
    @media only screen and (min-width: $large-breakpoint) {
      // font-size: 18px;
    }

    .btn__label--balance {
      color: $lbry-gray-5;
    }

    &:hover {
      background-color: transparent;

      .btn__label--balance {
        color: $lbry-teal-5;
      }
    }
  }

  &.header-publish {
    // background-color: $lbry-teal-5;
  }

  &.home-nav {
    background-color: $lbry-white;

    .btn__content {
      // padding: 0;
    }
  }

  &.inverse {
    background-color: transparent;
    color: $lbry-teal-5;
  }

  &.link {
    // margin: 0;
    // padding: 0;

    background-color: inherit;
    // border-radius: 0;
    color: $lbry-teal-5;
    display: inline;
    // font-size: 1rem;
    min-width: 0;
    text-align: left;
  }

  &.no-style {
    margin: 0;
    padding: 0;

    background-color: inherit;
    border-radius: 0;
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
    min-width: 0;
  }

  &.secondary {
    background-color: $lbry-teal-5;
  }

  &.tourniquet {
    max-width: 20vw;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &.uppercase {
    text-transform: uppercase;
  }

  .icon + .btn__label {
    padding-left: 5px;
  }
}

.link,
.no-style {
  height: auto;

  .btn__label,
  .btn__content {
    // padding: 0;
  }
}

.icon + .btn__label,
.btn__label + .icon {
  margin-left: 5px;
}

.uri-indicator {
  display: inline-block;
  transition: color var(--animation-duration) var(--animation-style);

  &:hover {
    color: $lbry-teal-4;
  }
}
