.btn {
  fill: currentColor;
  position: relative;

  &:not(.primary) {
    background-color: transparent;
    color: inherit;
  }

  &.link,
  &.btn--external-link {
    transition: color 0.2s;

    &:not(:hover) {
      color: $lbry-teal-5;
    }

    &:hover {
      color: $lbry-teal-3;
    }
  }

  &.primary {
    border-radius: 1rem;
    color: $lbry-white;
    padding: 0.25rem 1rem;
    transition: background-color 0.2s;

    &:not(:hover) {
      background-color: $lbry-teal-5;
    }

    &:hover {
      background-color: $lbry-teal-3;
    }

    svg {
      width: 1rem; height: 1rem;

      margin-right: 0.5rem;
      position: relative;
      top: 0.1rem;
    }
  }
}

.btn--external-link {
  font-weight: 500;
  text-align: left;
}

.btn--icon {
  width: 5rem; height: 5rem;

  background-repeat: no-repeat;
  background-size: 50%;
  border-radius: 50%;
  color: $lbry-white;
  transition: background-color 0.2s;

  &:not(:hover) {
    background-color: rgba($lbry-black, 0.7);
  }

  &:hover {
    background-color: $lbry-green-3;
  }

  &.play {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E %3Cg stroke='white' stroke-width='2' fill='white' fill-rule='evenodd' stroke-linejoin='round'%3E %3Cpolygon points='5 21 5 3 21 12'/%3E %3C/g%3E %3C/svg%3E");
    background-position: calc(50% + 0.1rem) center;
  }

  &.view {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E %3Cg stroke='white' stroke-width='2' fill='none' fill-rule='evenodd'%3E %3Cpath d='M2, 12 C2, 12 5, 5 12, 5 C19, 5 22, 12 22, 12 C22, 12 19, 19 12, 19 C5, 19 2, 12 2, 12 Z' stroke-linejoin='round'/%3E %3Ccircle cx='12' cy='12' r='3'/%3E %3Cpath d='M12, 5 L12, 3' stroke-linecap='round'/%3E %3Cpath d='M18, 6.5 L19, 5' stroke-linecap='round'/%3E %3Cpath d='M21, 10 L22.5, 9' stroke-linecap='round'/%3E %3Cpath d='M1.5, 10 L3, 9' stroke-linecap='round' transform='translate(2.250000, 9.500000) scale(1, -1) translate(-2.250000, -9.500000)'/%3E %3Cpath d='M5, 6.5 L6, 5' stroke-linecap='round' transform='translate(5.500000, 5.750000) scale(-1, 1) translate(-5.500000, -5.750000)'/%3E %3C/g%3E %3C/svg%3E");
    background-position: center calc(50% + 0.1rem);
  }

  .btn__label {
    display: none;
  }
}

/*
.btn {
  min-width: var(--btn-height);
  height: var(--btn-height);

  align-items: center;
  border: none;
  border-radius: var(--btn-radius);
  display: flex;
  fill: currentColor; // for proper icon color
  justify-content: center;
  padding: 10px;
  position: relative;
  text-decoration: none;
  transition: all var(--animation-duration) var(--animation-style);

  &:not(:disabled) {
  }

  &:hover {
    background-color: $lbry-teal-4;
  }

  &:not(.no-padding):not(.link):not(.no-style) {
    .btn__content {
      align-items: center;
      display: flex;
      padding: 0 8px;
    }
  }

  &:not(.header-balance):not(.header-publish) {
    // font-size: 1rem;
  }

  &:not(.inverse) {
    background-color: $lbry-teal-5;
    color: $lbry-white;
  }

  &.alt {
    &:not(:disabled) {
      background-color: $lbry-white;
      color: $lbry-black;
    }

    &:disabled {
      background-color: transparent;
      color: $lbry-gray-5;
    }
  }

  &.arrow {
    color: $lbry-black;
    width: var(--btn-arrow-width);

    &:disabled {
      opacity: 0.3;
    }
  }

  &.danger {
    background-color: $lbry-red-3;
  }

  &.disabled:disabled {
    // wtf?
    cursor: default;

    &.primary {
      background-color: rgba($lbry-black, 0.5);
    }

    &:hover {
      box-shadow: none;
    }
  }

  &.external-link {
    color: $lbry-blue-1;
  }

  &.file-actions {
    width: var(--btn-height);
    height: var(--btn-height);

    background-color: $lbry-black;
    border-radius: var(--btn-radius);
    color: $lbry-white;
    opacity: 0.8;
    padding: 10px;
  }

  &.header-balance,
  &.header-publish {
    // font-size: 0.8rem;
  }

  &.header-balance {
    @media only screen and (min-width: $large-breakpoint) {
      // font-size: 18px;
    }

    .btn__label--balance {
      color: $lbry-gray-5;
    }

    &:hover {
      background-color: transparent;

      .btn__label--balance {
        color: $lbry-teal-5;
      }
    }
  }

  &.header-publish {
    // background-color: $lbry-teal-5;
  }

  &.home-nav {
    background-color: $lbry-white;

    .btn__content {
      // padding: 0;
    }
  }

  &.inverse {
    background-color: transparent;
    color: $lbry-teal-5;
  }

  &.link {
    // margin: 0;
    // padding: 0;

    background-color: inherit;
    // border-radius: 0;
    color: $lbry-teal-5;
    display: inline;
    // font-size: 1rem;
    min-width: 0;
    text-align: left;
  }

  &.no-style {
    margin: 0;
    padding: 0;

    background-color: inherit;
    border-radius: 0;
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
    min-width: 0;
  }

  &.secondary {
    background-color: $lbry-teal-5;
  }

  &.tourniquet {
    max-width: 20vw;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &.uppercase {
    text-transform: uppercase;
  }

  .icon + .btn__label {
    padding-left: 5px;
  }
}

.link,
.no-style {
  height: auto;

  .btn__label,
  .btn__content {
    // padding: 0;
  }
}

.icon + .btn__label,
.btn__label + .icon {
  margin-left: 5px;
}

.uri-indicator {
  display: inline-block;
  transition: color var(--animation-duration) var(--animation-style);

  &:hover {
    color: $lbry-teal-4;
  }
}
*/
