.cards {
  &.list {
  }

  // `.card.row` is used on the discover page
  // It is a list of cards that extend past the right edge of the screen
  // There are arrows to horizontally scroll the cards and view hidden content

  &.row {
    padding-top: $spacing-vertical;
    // position: relative;
    white-space: nowrap;
    width: 100%;

    &:first-of-type {
      margin-bottom: 1rem;
      padding-bottom: $spacing-vertical;

      // background-color: $lbry-gray-1;
      background-image: linear-gradient(to bottom right, $lbry-black, $lbry-cyan-5 80%);
      color: $lbry-white;

      .card:not(:first-of-type) {
        // background-color: $lbry-grape-1;
      }

      .card-row__header {
        font-weight: 700;
      }
    }

    &:last-of-type {
      padding-bottom: $spacing-vertical * 2/3;
    }

    .cards__header {
      flex-direction: row;
      // specific padding-left styling is needed here
      // this needs to be used on a page with noPadding
      // doing so allows the content to scroll to the edge of the screen
      padding-left: $spacing-width;
    }
  }
}

.cards__header {
  display: flex;
  justify-content: space-between;
}

.cards__header__title {
  align-items: center;
  cursor: default;
  display: flex;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1;
}

.cards__header__navigation {
  display: flex;
  padding-right: $spacing-width * 1/3;

  svg {
    display: block;
  }

  .previous,
  .next {
    // color: var(--text-color);
    // width: var(--btn-arrow-width);

    &:disabled {
      opacity: 0.3;
    }
  }
}

.cards__scrollhouse {
  overflow: hidden;
  padding-top: $spacing-vertical * 2/3;

  .card {
    display: inline-block;
    overflow-y: visible;
    vertical-align: top;
    width: calc(
      (100% / 4) - 2.25rem
    ); // 2.25rem is $spacing-width but variables do not work here...weird

    &:not(:first-of-type) {
      margin-left: 1.25rem;
    }

    &:first-of-type {
      margin-left: $spacing-width;
    }

    &:last-of-type {
      margin-right: $spacing-width;
    }

    @media only screen and (min-width: $medium-breakpoint) {
      // width: calc((100% / 6) - 29px);
    }

    @media only screen and (min-width: $large-breakpoint) {
      // width: calc((100% / 8) - 27px);
    }
  }
}

.card {
  border-radius: var(--card-radius);
  // display: flex;
  flex-direction: column;
  // margin-left: auto;
  margin-right: auto;
  max-width: var(--card-max-width);
  position: relative;
  user-select: text;

  > h1 {
    word-wrap: break-word;
  }

  &.link {
    cursor: pointer;
  }

  &.pending {
    opacity: 0.5;
  }

  &.small {
    white-space: normal;

    .card__media {
      margin-bottom: $spacing-vertical * 2/3;
      padding-top: var(--video-aspect-ratio);
    }

    .card-media__internal-links {
      top: $spacing-vertical * 1/3;
      right: $spacing-vertical * 1/3;
    }

    .card__media-text {
      font-size: 3rem;

      // for the weird padding required for dynamic height
      // this lets the text sit in the middle instead of the bottom
      margin-top: calc(var(--video-aspect-ratio) * -1);
    }

    .card__meta {
      font-size: 0.9rem;
    }

    .card__meta__properties {
      > *:not(:last-child) {
        margin-right: $spacing-vertical * 1/3;
      }
    }

    .card__meta__subtitle {
      font-weight: 400;
      margin-bottom: $spacing-vertical;
    }

    .card__meta__title {
      height: 2.5rem;
      line-height: 1.26;
    }

    /*
    .channel-name {
      font-size: 12px;

      @media only screen and (min-width: $medium-breakpoint) {
        // font-size: 14px;
      }
    }
    */
  }

  // .card-media__internal__links should always be inside a card
  .card-media__internal-links {
    top: $spacing-vertical * 2/3;
    right: $spacing-vertical * 2/3;
    position: absolute;
  }
}

.card__media {
  margin-bottom: 1rem;
  padding-top: var(--video-aspect-ratio);
}

.card__title {
  font-size: 1.25rem;
  font-weight: 600;
  height: 4rem;
  white-space: normal;
}

.card__subtitle {
  // font-size: 1.15rem;
}

.card__file-properties {
  padding-top: 1rem;
}

.card__meta {
  // color: var(--text-color); // var(--color-help);
  // font-family: "metropolis-medium";
  // font-size: 14px;
  // font-size: 18px;
  // padding-top: $spacing-vertical * 2/3;

  &.file {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 5px;
  }

  &.identity {
    // color: var(--text-color);
  }

  &.identity--file {
    align-items: center;
    display: flex;
    justify-content: space-between;

    .icon {
      margin: 0 $spacing-vertical * 1/3;
    }
  }

  &.identity-icons {
    align-items: center;
    align-self: flex-start;
    display: flex;
  }
}

.card__meta__properties {
  align-items: center;
  color: var(--card-text-color);
  display: flex;
}

.card__meta__subtitle {
  color: var(--card-text-color);
  // font-size: 14px;
  // font-family: "metropolis-medium";
  // margin: 0;

  /*
  &.large {
    font-size: 18px;
    padding-bottom: $spacing-vertical * 1/3;
  }

  &.price {
    padding-top: $spacing-vertical * 1/3;
  }

  &.x-small {
    font-size: 12px;
  }
  */
}

.card__meta__title {
  /*
  &.file-card {
    // height is the same height that two lines of title fill
    // doing this so content below the title is inline accross the row
    height: 30px;
    padding-top: $spacing-vertical * 1/3;

    @media only screen and (min-width: $medium-breakpoint) {
      // height: 36px;
    }
  }
  */

  /*
  &.large {
    font-size: 22px;
  }

  &.small {
    font-size: 0.8rem;
    line-height: 1.33;
    margin-bottom: 0.5rem;
    // font-size: 12px;
    // line-height: 12px;

    @media only screen and (min-width: $medium-breakpoint) {
      // font-size: 14px;
      // line-height: 14px;
    }
  }

  &.x-small {
    font-size: 12px;
    line-height: 12px;
  }
  */
}

.card--section {
  margin-top: $spacing-vertical * 2/3;
  padding: $spacing-vertical;

  background-color: var(--card-bg);
  // box-shadow: var(--box-shadow-layer);
}

.card--wallet-balance {
  background: url('../../../static/img/stripe-background.png') no-repeat;
  background-size: cover;
  // color: var(--card-wallet-color);
  justify-content: space-between;

  .card__title,
  .card__subtitle {
    // color: var(--card-wallet-color);
  }
}

.card--disabled {
  opacity: 0.3;
  pointer-events: none;
}

.card__media {
  background-color: $lbry-gray-1;
  background-image: linear-gradient(to bottom right, $lbry-teal-3, $lbry-cyan-5 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card__media--no-img {
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
}

.card__media--nsfw {
  background-color: $lbry-grape-3;
}

.card__title--small + .card__subtitle,
.card__title--x-small + .card__subtitle {
  padding-top: $spacing-vertical * 1/3;
}

// Channel info with buttons on the right side
.card__channel-info {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: $spacing-width 0 0;
}

.card__channel-info--large {
  padding-bottom: $spacing-vertical * 2/3;
  padding-top: 0;
}

.card__content {
  margin-top: $spacing-vertical * 2/3;
}

.card__content--extra-padding {
  margin-top: $spacing-vertical * 3/2;
}

.card__subtext {
  font-size: calc(var(--font-size-subtext-multiple) * 1rem);
  font-weight: 700;
  padding-top: $spacing-vertical * 1/3;
  word-break: break-word;
}

.card__subtext-title {
  // color: var(--text-color);
  font-size: calc(var(--font-size-subtext-multiple) * 1.2rem);

  &:not(:first-of-type) {
    margin-top: $spacing-vertical * 3/2;
  }
}

.card__subtext--small {
  font-size: calc(var(--font-size-subtext-multiple) * 0.8rem);
}

.card__subtext--large {
  font-size: calc(var(--font-size-subtext-multiple) * 0.9rem);
}

.card__actions {
  display: flex;
  margin-top: $spacing-vertical * 2/3;

  &:not(.card__actions--vertical) {
    .btn:nth-child(n + 2),
    // For buttons wrapped in a tooltip
    .tooltip:nth-child(n + 2) {
      margin-left: $spacing-vertical / 3;
    }
  }
}

.card__actions-bottom-corner {
  bottom: $spacing-vertical;
  right: $spacing-vertical;
  position: absolute;
}

.card__actions-top-corner {
  top: $spacing-vertical;
  right: $spacing-vertical;
  position: absolute;
}

.card__actions--between {
  flex-wrap: wrap;
  justify-content: space-between;
}

.card__actions--center {
  align-items: center;
  justify-content: center;

  .btn {
    margin: 0 $spacing-vertical / 3;
  }
}

.card__actions--end {
  justify-content: flex-end;
}

.card__actions--no-margin {
  margin-top: 0;
}

.card__actions--vertical {
  align-items: flex-end;
  flex-direction: column;
  margin-top: 0;

  .btn:not(:first-child) {
    margin-top: $spacing-vertical * 1/3;
  }
}

.cards__message {
  cursor: default;
  font-size: 0.9rem;
  padding: 1rem $spacing-width;
  white-space: normal;

  button {
    color: $lbry-teal-3;
    cursor: pointer;
  }

  &.help {
  }

  &.success {
    margin: $spacing-vertical * 1/3 0;
    padding: $spacing-vertical * 1/3;

    // background-color: var(--success-msg-bg);
    // border-left: 2px solid var(--success-msg-border);
    // color: var(--success-msg-color);
  }
}

/*
  How cards are displayed in lists
*/

.card__list {
  .card {
    display: inline-block;
    margin-bottom: $spacing-vertical * 3/2;
    vertical-align: top;

    @media only screen and (max-width: $medium-breakpoint) {
      width: calc((100% / 4) - (60px / 4)); // 60px === 20px margin-right * three cards

      &:not(:nth-child(4n + 1)) {
        margin-left: 20px;
      }
    }

    @media only screen and (min-width: $medium-breakpoint) and (max-width: $large-breakpoint) {
      width: calc((100% / 6) - (100px / 6));

      &:not(:nth-child(6n + 1)) {
        margin-left: 20px;
      }
    }

    @media only screen and (min-width: $large-breakpoint) {
      width: calc((100% / 8) - (140px / 8));

      &:not(:nth-child(8n + 1)) {
        margin-left: 20px;
      }
    }
  }
}

.card__list--recommended {
  flex: 0 0 var(--recommended-content-width);
  padding-left: $spacing-width;

  @media (min-width: $medium-breakpoint) {
    // flex: 0 0 var(--recommended-content-width-medium);
  }
}

.card__list--rewards {
  .card {
    display: inline-block;
    margin-bottom: 20px;
    vertical-align: top;
    width: calc(50% - 10px);

    &:not(:nth-child(2n + 1)) {
      margin-left: 20px;
    }
  }
}

/*
.card__success-msg {
  border-left: 2px solid var(--success-msg-border);
  color: var(--success-msg-color);
  background-color: var(--success-msg-bg);
  padding: $spacing-vertical * 1/3;
  margin: $spacing-vertical * 1/3 0;
}
*/

.card__media {
  &.autothumb {
    color: $lbry-red-3; // !important;

    &.purple {
      background-color: #9c27b0;
    }

    &.red {
      background-color: #e53935;
    }

    &.pink {
      background-color: #e91e63;
    }

    &.indigo {
      background-color: #3f51b5;
    }

    &.blue {
      background-color: #2196f3;
    }

    &.light-blue {
      background-color: #039be5;
    }

    &.cyan {
      background-color: #00acc1;
    }

    &.teal {
      background-color: #009688;
    }

    &.green {
      background-color: #43a047;
    }

    &.yellow {
      background-color: #ffeb3b;
    }

    &.orange {
      background-color: #ffa726;
    }
  }
}
