//  C A R D S

.cards {
  &.list {
  }

  // `.card.row` is used on the discover page
  // It is a list of cards that extend past the right edge of the screen
  // There are arrows to horizontally scroll the cards and view hidden content

  &.row {
    white-space: nowrap;
    width: 100%;

    @media (min-width: 601px) {
      padding-top: $spacing-vertical;
    }

    @media (max-width: 600px) {
      padding-top: 1.5rem;
    }

    &:first-of-type {
      background-image: linear-gradient(to bottom right, $lbry-black, $lbry-cyan-5 80%);
      color: $lbry-white;

      @media (min-width: 601px) {
        padding-bottom: $spacing-vertical;
      }

      @media (max-width: 600px) {
        padding-bottom: 1rem;
      }

      .card-row__header {
        font-weight: 700;
      }

      .cards__header__title {
        background-image: linear-gradient(to right, $lbry-white 80%, transparent 100%);
      }
    }

    &:not(:first-of-type):not(:last-of-type) {
      border-bottom: 1px solid rgba($lbry-gray-1, 0.7);
    }

    &:not(:first-of-type) {
      padding-bottom: 1.5rem;

      .cards__header__title {
        background-image: linear-gradient(to right, $lbry-black 80%, transparent 100%);
      }
    }

    .cards__header {
      flex-direction: row;

      @media (min-width: 601px) {
        padding-left: $spacing-width;
      }

      @media (max-width: 600px) {
        padding-left: 2rem;
      }
    }

    .cards__header__title {
      color: transparent;
      -webkit-background-clip: text; // does not exist unprefixed, need to use SVG for LBRY web
    }

    .card__media {
      margin-bottom: 1rem; padding-top: var(--video-aspect-ratio);
    }
  }
}



//  C A R D S
//  H E A D E R

.cards__header {
  display: flex;
  justify-content: space-between;
}

.cards__header__title {
  align-items: center;
  cursor: default;
  display: flex;
  font-weight: 700;
  line-height: 1.33;
  width: calc(100% - 6rem); // to not cover the navigation

  @media (min-width: 601px) {
    font-size: 2rem;
  }

  @media (max-width: 600px) {
    font-size: 1.75rem;
  }
}

.cards__header__navigation {
  display: flex;
  padding-right: $spacing-width * 1/3;

  svg {
    display: block;
  }

  .previous,
  .next {
    &:disabled {
      opacity: 0.3;
    }
  }
}



//  C A R D S
//  M E S S A G E

.cards__message {
  cursor: default;
  font-size: 0.9rem;
  padding: 1rem $spacing-width;
  white-space: normal;

  button {
    color: $lbry-teal-3;
    cursor: pointer;
  }

  &.success {
    margin: $spacing-vertical * 1/3 0;
    padding: $spacing-vertical * 1/3;
  }
}



//  C A R D S
//  S C R O L L H O U S E

.cards__scrollhouse {
  overflow: hidden;

  @media (min-width: 601px) {
    padding-top: $spacing-vertical * 2/3;
  }

  @media (max-width: 600px) {
    padding-top: 1rem;
  }

  .card {
    display: inline-block;
    max-width: 250px;
    min-width: 150px;
    overflow-y: visible;
    vertical-align: top;

    @media (min-width: 601px) {
      width: calc(
        (100% / 6) - 2.25rem
      );

      &:not(:first-of-type) {
        margin-left: 1.25rem;
      }

      &:first-of-type {
        margin-left: $spacing-width;
      }

      &:last-of-type {
        margin-right: $spacing-width;
      }
    }

    @media (max-width: 600px) {
      width: calc(
        (100% / 3) - 3rem
      );

      &:not(:first-of-type) {
        margin-left: 1rem;
      }

      &:first-of-type {
        margin-left: 2rem;
      }

      &:last-of-type {
        margin-right: 2rem;
      }
    }
  }

  .card__title {
    @media (min-width: 601px) {
      font-size: 1.25rem;
      height: 4rem;
    }

    @media (max-width: 600px) {
      height: 3rem;
      margin-bottom: 0.5rem;
    }
  }
}



//  C A R D

.card {
  > h1 {
    word-wrap: break-word;
  }

  &.link {
    cursor: pointer;
  }

  &.pending {
    opacity: 0.5;
  }

  // .card-media__internal__links should always be inside a card
  .card-media__internal-links {
    top: $spacing-vertical * 2/3;
    right: $spacing-vertical * 2/3;
    position: absolute;
  }
}

//

.card--disabled {
  opacity: 0.3;
  pointer-events: none;
}

.card--section {
  margin-top: $spacing-vertical * 2/3;
  padding: $spacing-vertical;

  background-color: var(--card-bg);
}

.card--wallet-balance {
  background: url('../../../static/img/stripe-background.png') no-repeat;
  background-size: cover;
  justify-content: space-between;
}

//



//  C A R D
//  A C T I O N S

.card__actions {
  display: flex;
  padding-top: 2rem;
  padding-bottom: 2rem;

  &:not(.card__actions--vertical) {
    .btn:nth-child(n + 2),
    // For buttons wrapped in a tooltip
    .tooltip:nth-child(n + 2) {
      margin-left: $spacing-vertical / 3;
    }
  }
}

.card__actions-bottom-corner {
  bottom: $spacing-vertical;
  right: $spacing-vertical;
  position: absolute;
}

.card__actions-top-corner {
  top: $spacing-vertical;
  right: $spacing-vertical;
  position: absolute;
}

.card__actions--between {
  flex-wrap: wrap;
  justify-content: space-between;
}

.card__actions--center {
  align-items: center;
  justify-content: center;

  .btn {
    // margin: 0 $spacing-vertical / 3;
  }
}

.card__actions--end {
  justify-content: flex-end;
}

/*
.card__actions--no-margin {
  margin-top: 0;
}
*/

.card__actions--vertical {
  align-items: flex-end;
  flex-direction: column;
  // margin-top: 0;

  .btn:not(:first-child) {
    // margin-top: $spacing-vertical * 1/3;
  }
}

.card__actions__group {
  height: 2rem;

  > * {
    font-size: 1.15rem;
    line-height: 2;

    svg {
      width: 1.5rem; height: 1.5rem;
    }
  }
}



//  C A R D
//  C H A N N E L

.card__channel-info {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: $spacing-width 0 0;
}

.card__channel-info--large {
  padding-bottom: $spacing-vertical * 2/3;
  padding-top: 0;
}



//  C A R D
//  C O N T E N T

.card__content {
}

.card__content--extra-padding {
  margin-top: $spacing-vertical * 3/2;
}

.card__content--file-page {
  float: left;
  padding-right: 2rem;
  width: calc(100% - 30rem);
}



//  C A R D
//  I D E N T I T Y

.card__identity--file-page {
  align-items: center;
  display: inline-flex;
  margin-bottom: 1rem;
  margin-left: 1rem;
  padding-top: 0.3rem;
  vertical-align: middle;

  > *:not(:last-child) {
    margin-right: 0.5rem;
  }
}

.card__identity__amount,
.card__identity__nsfw {
  border-radius: 0.2rem;
  cursor: default;
  display: inline-block;
  font-size: 0.8rem;
  font-weight: 600;
  letter-spacing: 0.05rem;
  line-height: 2;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  user-select: none;
  vertical-align: top;
  white-space: nowrap;
}

.card__identity__amount--cost {
  background-color: $lbry-yellow-2;
}

.card__identity__amount--free {
  background-color: $lbry-blue-2;
}

.card__identity__nsfw {
  background-color: $lbry-grape-2;
}



//  C A R D
//  I N F O

.card__info {
  border-top: 1px solid $lbry-gray-1;
  padding-top: 1rem;
  word-wrap: break-word;
}

.card__info__text {
  font-size: 1.15rem;

  &:not(:last-of-type) {
    margin-bottom: 2rem;
  }
}

.card__info__title {
  font-size: 1.25rem;
  font-weight: 500;
}



//  C A R D
//  L I S T

.card__list {
  .card {
    display: inline-block;
    margin-bottom: $spacing-vertical * 3/2;
    vertical-align: top;

    @media only screen and (max-width: $medium-breakpoint) {
      width: calc((100% / 4) - (60px / 4)); // 60px === 20px margin-right * three cards

      &:not(:nth-child(4n + 1)) {
        margin-left: 20px;
      }
    }

    @media only screen and (min-width: $medium-breakpoint) and (max-width: $large-breakpoint) {
      width: calc((100% / 6) - (100px / 6));

      &:not(:nth-child(6n + 1)) {
        margin-left: 20px;
      }
    }

    @media only screen and (min-width: $large-breakpoint) {
      width: calc((100% / 8) - (140px / 8));

      &:not(:nth-child(8n + 1)) {
        margin-left: 20px;
      }
    }
  }
}

.card__list--recommended {
  border-left: 1px solid $lbry-gray-1;
  float: right;
  overflow: hidden;
  padding-left: 2rem;
  width: 30rem;

  > span { // TODO: Give this span a class
    color: $lbry-gray-5;
    cursor: default;
    font-size: 1.25rem;
    letter-spacing: 0.05rem;
    text-transform: lowercase;
    user-select: none;
  }
}

.card__list--rewards {
  .card {
    display: inline-block;
    margin-bottom: 20px;
    vertical-align: top;
    width: calc(50% - 10px);

    &:not(:nth-child(2n + 1)) {
      margin-left: 20px;
    }
  }
}



//  C A R D
//  M E D I A

.card__media {
  // margin-bottom: 1rem; padding-top: var(--video-aspect-ratio); // these two should not be here, due to other classes that may be added

  background-color: $lbry-cyan-5;
  background-image: linear-gradient(to bottom right, $lbry-teal-3, $lbry-cyan-5 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &.autothumb {
    color: $lbry-red-3;

    &.purple {
      background-color: #9c27b0;
    }

    &.red {
      background-color: #e53935;
    }

    &.pink {
      background-color: #e91e63;
    }

    &.indigo {
      background-color: #3f51b5;
    }

    &.blue {
      background-color: #2196f3;
    }

    &.light-blue {
      background-color: #039be5;
    }

    &.cyan {
      background-color: #00acc1;
    }

    &.teal {
      background-color: #009688;
    }

    &.green {
      background-color: #43a047;
    }

    &.yellow {
      background-color: #ffeb3b;
    }

    &.orange {
      background-color: #ffa726;
    }
  }
}

.card__media--no-img {
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
}

.card__media--nsfw {
  background-color: $lbry-grape-5;
}

.card__media-text {
  top: 0; left: 0;
  bottom: 0; right: 0;

  cursor: default;
  font-size: 2.5rem;
  padding-top: calc(var(--video-aspect-ratio) / 4);
  position: absolute;
  text-align: center;
  user-select: none;
}



//  C A R D
//  M E T A

.card__meta {
  &.file {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 5px;
  }

  &.identity--file {
    align-items: center;
    display: flex;
    justify-content: space-between;

    .icon {
      margin: 0 $spacing-vertical * 1/3;
    }
  }

  &.identity-icons {
    align-items: center;
    align-self: flex-start;
    display: flex;
  }
}

.card__meta__properties {
  align-items: center;
  color: var(--card-text-color);
  display: flex;
}

.card__meta__subtitle {
  color: var(--card-text-color);
}



//  C A R D
//  P L A C E H O L D E R

.card__placeholder {
  &.channel {
  }

  &.date {
  }

  &.media {
  }

  &.title {
  }
}



//  C A R D
//  P R O P E R T I E S

.card__properties {
  &:not(:empty) {
    padding-top: 1rem;
  }
}



//  C A R D
//  T I T L E

.card__title {
  font-weight: 600;
  user-select: none;
  white-space: normal;
}

.card__title--file-page {
  cursor: default;
  display: inline;
  font-size: 2rem;
  line-height: 1.33;
}

.card__date,
.card__subtitle {
  opacity: 0.7;
}

.card__subtitle {
  display: block;

  > button {
    display: block;
  }
}

.card__subtitle--file-page {
}

.card__subtitle__channel {
  font-size: 1.25rem;
  font-weight: 600;
}

.card__subtitle__date {
}

.card__title--small + .card__subtitle,
.card__title--x-small + .card__subtitle {
  padding-top: $spacing-vertical * 1/3;
}
