.content__wrapper {
  flex: 1 0 var(--file-page-min-width);
  max-width: var(--card-max-width);
}

.content__embedded {
  align-items: center;
  background-color: var(--color-black);
  display: flex;
  justify-content: center;
  padding-top: var(--video-aspect-ratio);
  position: relative;
  width: 100%;

  video {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    position: absolute;

    &:hover {
      cursor: pointer;
    }
  }
}

// Video thumbnail with play/download button
.content__cover {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  display: flex;
  justify-content: center;
  position: absolute;

  &:not(.card__media--nsfw) {
    background-color: var(--color-black);
  }

  &:hover {
    cursor: pointer;
  }
}

.content__view,
.content__view--container {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  align-items: center;
  display: flex;
  justify-content: center;
  position: absolute;
}

.content__view--container {
  iframe {
    width: 100%;
    height: 100%;
    background-color: var(--color-white);
  }
}

.content__loading {
  width: 100%;
  height: 100%;

  align-items: center;
  background-color: rgba(var(--color-black), 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 20px;
}

.content__loading-text {
  color: var(--color-white);
}

.content__empty {
  align-items: center;
  background-color: var(--color-black);
  color: var(--color-white);
  display: flex;
  justify-content: center;
  padding-top: var(--video-aspect-ratio);
  width: 100%;

  &.content__empty--nsfw {
    background-color: var(--color-nsfw);
  }

  .card__media-text {
    margin-top: calc(var(--video-aspect-ratio) * -1);
  }
}

img {
  max-width: 100%;
  max-height: 100%;
}
