.header {
  width: 100%;
  height: var(--header-height);

  align-items: center;
  background-color: var(--color-bg);
  border-bottom: 1px solid var(--color-divider);
  display: flex;
  justify-content: space-between;
  padding-left: 5rem;
  padding-right: 1rem;
  position: fixed;
  z-index: 1;

  -webkit-app-region: drag;
  -webkit-user-select: none;
}

.header__navigation {
  display: flex;

  &:first-of-type {
    border-left: 1px solid var(--color-divider);
  }

  &:last-of-type {
    z-index: 2;
  }
}

.header__navigation__item {
  width: var(--header-height);
  height: var(--header-height);

  background-position: center;
  background-repeat: no-repeat;
  background-size: 50%;

  &:not(:disabled):hover {
    background-color: var(--color-divider);
  }

  &:disabled {
    opacity: 0.3;
  }

  &.back {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E %3Cg stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' stroke-linecap='round'%3E %3Cg transform='translate(-444.000000, -1046.000000)' stroke='%23000' stroke-width='2'%3E %3Cg transform='translate(48.000000, 1046.000000)'%3E %3Cg transform='translate(396.000000, 0.000000)'%3E %3Cpath d='M4, 12 L21, 12'/%3E %3Cpolyline stroke-linejoin='round' transform='translate(7.000000, 12.000000) scale(-1, 1) translate(-7.000000, -12.000000)' points='3 4 11 12 3 20'/%3E %3C/g%3E %3C/g%3E %3C/g%3E %3C/g%3E %3C/svg%3E");
  }

  &.forward {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E %3Cg stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' stroke-linecap='round'%3E %3Cg transform='translate(-884.000000, -159.000000)' stroke='%23000' stroke-width='2'%3E %3Cg transform='translate(884.000000, 159.000000)'%3E %3Cpath d='M3, 12 L20, 12'/%3E %3Cpolyline stroke-linejoin='round' points='13 4 21 12 13 20'/%3E %3C/g%3E %3C/g%3E %3C/g%3E %3C/svg%3E");
  }

  &.home {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E %3Cg stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' stroke-linecap='round' stroke-linejoin='round'%3E %3Cg transform='translate(-620.000000, -159.000000)' stroke='%23000' stroke-width='2'%3E %3Cg transform='translate(620.000000, 159.000000)'%3E %3Cpath d='M1, 11 L12, 2 C12, 2 22.9999989, 11.0000005 23, 11'/%3E %3Cpath d='M3, 10 C3, 10 3, 10.4453982 3, 10.9968336 L3, 20.0170446 C3, 20.5675806 3.43788135, 21.0138782 4.00292933, 21.0138781 L8.99707067, 21.0138779 C9.55097324, 21.0138779 10, 20.5751284 10, 20.0089602 L10, 15.0049177 C10, 14.449917 10.4433532, 14 11.0093689, 14 L12.9906311, 14 C13.5480902, 14 14, 14.4387495 14, 15.0049177 L14, 20.0089602 C14, 20.5639609 14.4378817, 21.0138779 15.0029302, 21.0138779 L19.9970758, 21.0138781 C20.5509789, 21.0138782 21.000006, 20.56848 21.000006, 20.0170446 L21.0000057, 10'/%3E %3C/g%3E %3C/g%3E %3C/g%3E %3C/svg%3E");
  }

  &.publish {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E %3Cg stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' stroke-linecap='round'%3E %3Cg transform='translate(-312.000000, -775.000000)' stroke='%23000' stroke-width='2'%3E %3Cg transform='translate(312.000000, 775.000000)'%3E %3Cpath d='M8, 18 L5, 18 L5, 18 C2.790861, 18 1, 16.209139 1, 14 C1, 11.790861 2.790861, 10 5, 10 C5.35840468, 10 5.70579988, 10.0471371 6.03632437, 10.1355501 C6.01233106, 9.92702603 6, 9.71495305 6, 9.5 C6, 6.46243388 8.46243388, 4 11.5, 4 C14.0673313, 4 16.2238156, 5.7590449 16.8299648, 8.1376465 C17.2052921, 8.04765874 17.5970804, 8 18, 8 C20.7614237, 8 23, 10.2385763 23, 13 C23, 15.7614237 20.7614237, 18 18, 18 L16, 18' stroke-linejoin='round'/%3E %3Cpath d='M12, 13 L12, 21'/%3E %3Cpolyline stroke-linejoin='round' transform='translate(12.000000, 12.500000) scale(1, -1) translate(-12.000000, -12.500000)' points='15 11 12 14 9 11'/%3E %3C/g%3E %3C/g%3E %3C/g%3E %3C/svg%3E");
    position: relative;

    &::before {
      width: 100%; height: calc(100% - 1px);
      top: 0; left: 0;

      background-color: var(--color-bg);
      content: "";
      position: absolute;
      z-index: -1;
    }
  }

  &.wallet {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E %3Cg stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E %3Cg transform='translate(-48.000000, -379.000000)'%3E %3Cg transform='translate(48.000000, 379.000000)'%3E %3Cpath d='M21, 17.9997559 L21, 18.9987937 C21, 20.1040294 20.1090746, 21 19.0025781, 21 L3.99742191, 21 C2.89427625, 21 2, 20.1029399 2, 18.9941413 L2, 7 L2, 7 L19.0025781, 7 C20.1057238, 7 21, 7.9037256 21, 8.99456116 L21, 10.0673828' stroke='%23000' stroke-width='2'/%3E %3Cpath d='M14, 14 C14, 12.3431458 15.3390201, 11 17.0016655, 11 L22, 11 L22, 17 L17.0016655, 17 C15.3438914, 17 14, 15.6534829 14, 14 L14, 14 Z' stroke='%23000' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E %3Ccircle fill='%23000' cx='17' cy='14' r='1'/%3E %3Cpath d='M2, 5.5 C2, 4.6733323 2.67213849, 4 3.4963932, 4 L18.5036068, 4 C19.3314489, 4 20, 4.68092191 20, 5.5 L20, 7 L3.4963932, 7 C2.6685511, 7 2, 6.31907809 2, 5.5 Z' stroke='%23000' stroke-width='2'/%3E %3C/g%3E %3C/g%3E %3C/g%3E %3C/svg%3E");

    &:not(:hover) {
      .btn__content {
        opacity: 0;
        right: 1rem;
        visibility: none;
      }
    }

    &:hover {
      .btn__content {
        opacity: 1;
        right: 5.9rem; // var(--header-height);
        visibility: visible;
      }
    }

    .btn__content {
      width: 150px;
      height: calc(var(--header-height) - 1px);

      background-color: var(--color-bg);
      border-left: 1px solid var(--color-divider);
      border-right: 1px solid var(--color-divider);
      display: block;
      font-size: 12px;
      line-height: var(--header-height);
      padding-top: 1px;
      position: absolute;
      text-align: center;
      transition: right 0.2s;
      top: 0;
      z-index: -1;
    }
  }
}
