.modal-overlay,
.error-modal-overlay {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  align-items: center;
  background-color: var(--modal-overlay-bg);
  display: flex;
  justify-content: center;
  position: fixed;
  z-index: 9999; // TODO: Is this level necessary?
}

.modal-overlay--clear {
  background-color: transparent;
}

.modal {
  align-items: center;
  background-color: var(--modal-bg);
  border: var(--modal-border);
  border-radius: 4px;
  box-shadow: var(--box-shadow-layer);
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: var(--modal-width);
  overflow: auto;
  padding: $spacing-vertical;
  word-break: break-word;

  .btn.btn--alt {
    // Set modal buttons bg color
    background-color: var(--modal-btn-bg-color);
  }
}

.modal--fullscreen {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  background-color: var(--modal-fullscreen-bg);
  padding: $spacing-vertical;
  overflow-y: scroll;
  position: absolute;

  .main {
    // I will come back to these when I do media queries
    // They should be variables
    padding: 130px 80px 0 80px;
  }
}

// For slide down animation on the search modal
// Slide down isn't possible without doing a lot of re-work to the modal component
.ReactModal__Overlay {
  .modal--fullscreen {
    height: 0;
    transition: height var(--animation-duration) var(--animation-style);
  }

  &--after-open {
    .modal--fullscreen {
      height: 100vh;
    }
  }

  &--before-close {
    height: 0;
  }
}

.modal__header {
  margin-bottom: $spacing-vertical * 2/3;
  text-align: center;
}

.modal__buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: $spacing-vertical * 2/3;
}

.modal__button {
  margin: 0px $spacing-vertical * 1/3;

  &.btn--link {
    // So the text isn't bigger than the text inside the button
    font-size: 0.8em;
  }
}

.error-modal-overlay {
  background-color: var(--modal-overlay-bg);
}

.error-modal__content {
  display: flex;
  padding: 0 8px 10px 10px;
}

.error-modal__warning-symbol {
  margin-top: 6px;
  margin-right: 7px;
}

.download-started-modal__file-path {
  word-break: break-all;
}

.error-modal {
  max-width: none;
  width: var(--modal-width);
}

.error-modal__error-list {
  // shitty hack/temp fix for long errors making modal unusable // TODO: Fix this
  max-width: var(--modal-width);
  max-height: 400px;

  border: 1px solid var(--input-border-color);
  list-style: none;
  overflow-y: scroll;
  padding: 8px;
}

.error-modal__content p {
  padding: 0 0 $spacing-vertical $spacing-vertical;
}
