.pagination {
  + .form-field {
    margin-left: 1rem;
  }
}

.pagination__item {
  width: 3rem; height: 3rem;

  border-radius: 50%;
  display: inline-block;
  font-weight: 600;
  line-height: 3rem;
  text-align: center;

  &:not(&--selected):not(&--break):not(.disabled):hover {
    background-color: $lbry-gray-1;
  }

  &:not(&--break):not(.disabled) {
    cursor: pointer;
  }

  &--break {
    user-select: none;
  }

  &--selected {
    background-color: $lbry-teal-5;
    color: $lbry-white;
  }

  > a {
    display: block;
  }
}

.pagination__item--previous,
.pagination__item--next {
  // font-size: 1.2rem;
}
