.search__content {
  padding: $spacing-width;
}

.search__results {
  margin-top: -$spacing-width;
  padding-bottom: $spacing-vertical;
  flex-flow: wrap column;

  .search-result__row {
    padding: $spacing-vertical 0;

    &:first-of-type {
      padding-top: 0;
    }
  }
}

.search__top {
  background-color: rgba($lbry-gray-1, 0.3);
  padding: 0 $spacing-width $spacing-width;
}
