// Tooltip text
.tooltip {
  display: inline-block;
  position: relative;

  &:not(:hover) {
    .tooltip__body {
      visibility: hidden;
    }
  }

  &:hover {
    .tooltip__body {
      visibility: visible;
    }
  }

  &.tooltip--on-component {
    .tooltip__body {
      margin-top: 10px;
    }
  }

  .tooltip__body {
    // background-color: $black;
    // border-radius: 8px;
    // color: var(--tooltip-color);
    // font-family: 'metropolis-medium';
    // font-size: 12px;
    padding: $spacing-vertical * 1/3;
    position: absolute;
    text-align: center;
    white-space: pre-wrap;
    // width: 200px;
    z-index: 1;

    font-size: 0.8rem;
    font-weight: normal;
    background-color: $black;
    border-radius: 0.3rem;
    color: $white;
    line-height: 1.33;
    width: 250px;

    &::after {
      width: 0;
      height: 0;

      border-style: solid;
      border-width: 5px;
      content: ' ';
      position: absolute;
    }
  }

  .tooltip__body--short {
    width: 130px;
  }
}

.tooltip--top {
  .tooltip__body {
    bottom: 100%;
    left: 50%;

    &:not(.tooltip__body--short) {
      margin-left: -100px;
    }

    &.tooltip__body--short {
      margin-left: -65px;
    }
  }

  &::after {
    top: 100%;
    left: 50%;

    border-color: $black transparent transparent transparent;
    margin-left: -5px;
  }
}

.tooltip--right {
  .tooltip__body {
    margin-top: -30px;
    margin-left: 110%;

    &::after {
      top: 17px;
      right: 100%; // To the left of the tooltip

      border-color: transparent $black transparent transparent;
      margin-top: -5px;
    }
  }
}

.tooltip--bottom {
  .tooltip__body {
    top: 90%;
    left: 50%;
    margin-left: -100px;

    &.tooltip__body--short {
      margin-left: -65px;
    }

    &::after {
      bottom: 100%;
      left: 50%;

      border-color: transparent transparent $black transparent;
      margin-left: -5px;
    }
  }
}

.tooltip--left .tooltip__body {
  top: -5px;
  right: 105%;

  &::after {
    top: 17px;
    left: 100%;

    border-color: transparent transparent transparent $black;
    margin-top: -5px;
  }
}

// When there is a label for the tooltip and not just using a button or icon
.tooltip--label {
  font-size: 14px;
  padding-left: $spacing-vertical * 1/3;

  .tooltip__body {
    margin-top: 5px;
  }
}

.tooltip--icon {
  margin-top: 5px;
}
